@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: linear-gradient(115deg, #12063b, #09555c);
  font-family: "Poppins", sans-serif;
}

.main_div {
  width: 100%;
  margin: auto;
  background: linear-gradient(115deg, #12063b, #09555c);
  color: rgb(255, 255, 255);
}

#text_sec {
  width: 50%;
}

#text_sec section {
  margin-bottom: 25px;
  text-align: justify;
}

#pic_sec {
  width: 30%;
}

#notice {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 30px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .main_div {
    flex-direction: column-reverse;
    padding: 0px;
    height: auto;
  }

  #text_sec {
    width: 100%;
    padding: 24px;
  }

  #pic_sec {
    width: 100%;
  }
}